

<div class="page-container">
  <!-- HEADER DESKTOP-->
  <header class="header-desktop">
    <div class="section-content section-content-p30">
      <div class="container-fluid">
        <div class="header-wrap">
          <!-- <app-app-header></app-app-header> -->
          <router-outlet></router-outlet>
        </div>
        <div class="account-wrap"></div>
      </div>
    </div>
  </header>
  <body>
    
  </body>

  <!--
    <app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
  -->