<div class="change-password-container">
    <h2>Change Password</h2>
    <form #changeForm="ngForm" (ngSubmit)="onChangePassword(changeForm.value)">
      <div>
        <label for="oldPassword">Old Password:</label>
        <input type="password" id="oldPassword" name="oldPassword" [(ngModel)]="oldPassword" required>
      </div>
      <div>
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required>
      </div>
      <div>
        <label for="retypeNewPassword">Retype New Password:</label>
        <input type="password" id="retypeNewPassword" name="confirmPassword" [(ngModel)]="retypeNewPassword" required>
      </div>
      <div>
        <button type="submit">Change Password</button>
      </div>
    </form>
  </div>
  